<a class="nav_item{% ifequal page 'record_list' %} active{% endifequal %}" href="/admin/record/list">借款记录列表</a>
<a class="nav_item{% ifequal page 'record_add' %} active{% endifequal %}" href="/admin/record/add">添加借款记录</a>
<a class="nav_item{% ifequal page 'repay_record_add' %} active{% endifequal %}" href="/admin/record/repay/add">添加还息记录</a>
<a class="nav_item{% ifequal page 'user_add' %} active{% endifequal %}" href="/admin/user/add">添加用户</a>
<a class="nav_item{% ifequal page 'user_list' %} active{% endifequal %}" href="/admin/user/list">用户列表</a>
<a class="nav_item right logout_btn" href="/admin/logout">登出</a>
