<div id="window_toolbar">
  <div class="first_order_menu left">
    <div class="first_order_menu_name fade_button" target="eee">文件</div>
    <div class="second_order_menu_box">
      <div class="second_order_menu">
        <div class="second_order_menu_name fade_button" target="eee">新建</div>
      </div>
      <div class="second_order_menu">
        <div class="second_order_menu_name fade_button" target="eee">打开</div>
      </div>
      <div class="second_order_menu">
        <div class="second_order_menu_name fade_button" target="eee">保存</div>
      </div>
      <div class="second_order_menu">
        <div class="second_order_menu_name fade_button" target="eee">另存为</div>
      </div>
    </div>
  </div>
  <div class="first_order_menu left">
    <div class="first_order_menu_name fade_button" target="eee">操作</div>
  </div>
  <div class="first_order_menu left">
    <div class="first_order_menu_name fade_button" target="eee">帮助</div>
  </div>
  <div class="clear"></div>
</div>