<div id="wf_head">
  <div id="wf_title" class="textEllipsis">{{ wf_title }}</div>
  <div id="wf_button_box">
    <div class="wf_button right fade_button" target="red" id="close_win_btn">x</div>
    <div class="wf_button right fade_button" target="gray" id="min_win_btn">-</div>
    <div class="wf_button right fade_button" target="gray" id="max_win_btn">口</div>
    <div class="clear"></div>
  </div>
  <div id="wf_splitor"><div id="wf_splitor_inner"></div></div>
</div>
<div id="wf_placeholder"></div>
<div id="wf_footer">
  <div class="wf_tab left{% ifequal page 'record_list' %} active{% endifequal %}"><a href="/admin/record/list">借贷记录列表</a></div>
  <div class="wf_tab left{% ifequal page 'record_add' %} active{% endifequal %}"><a href="/admin/record/add">添加借贷记录</a></div>
  <div class="wf_tab left{% ifequal page 'user_list' %} active{% endifequal %}"><a href="/admin/user/list">用户列表</a></div>
  <div class="wf_tab left{% ifequal page 'user_add' %} active{% endifequal %}"><a href="/admin/user/add">添加用户</a></div>
  <div class="clear"></div>
</div>