table {
  width: 100%;
}

th, td {
  padding: 0.5em;
}

input, select {
  border: 0;
  outline: none;
  width: 100%;
  background-color: white;
}

.button {
  width: 100%;
  padding: 0.5em 0;
  margin-top: 1em;
  text-align: center;
  border: 1px solid black;
}

.button:hover {
  font-weight: bold;
  cursor: pointer;
  border: 2px solid black;
}

input[type="date"] {
  line-height: 20px;
}

td.btn {
  cursor: pointer;
}

td.btn:hover {
  font-weight: bold;
}